# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env/
.venv/
venv/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# IDE / editor settings
.vscode/
.idea/
*.swp

# Logs and databases
*.log
*.sqlite3

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Pytest cache
.pytest_cache/

# MyPy, Pyre, Pytype
.mypy_cache/
.pyre/
.pytype/

# Coverage reports
htmlcov/
.coverage
.coverage.*
